<div class="h-full flex flex-col p-2 xl:min-h-0 gap-3">

  <div class="flex flex-col gap-5 p-2 justify-between items-center bg-white p-4 rounded-xl shadow-sm border border-gray-200 sm:flex-row">
    <div class="flex gap-3 flex-wrap">
      <div class="flex flex-col gap-1">
        <label class="text-sm font-bold text-gray-500 uppercase ml-1">Szukaj produktu</label>
        <input
          type="text"
          placeholder="Np. Krakowska Sucha..."
          (input)="onSearchChange($event)"
          class="px-3 py-2 border rounded-lg border-gray-300 focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none transition-all w-64 text-sm"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-sm font-bold text-gray-500 uppercase ml-1">Producent</label>
        <select
          (change)="onProducerChange($event)"
          class="px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none bg-white text-sm w-48"
        >
          <option [value]="null" selected>Wszystkie</option>
          @for(producer of (producers$ | async); track producer){
            <option [value]="producer">{{producer}}</option>
          }
        </select>
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-sm font-bold text-gray-500 uppercase ml-1">TPS</label>
        <input
          type="date"
          (change)="onDateChange($event)"
          class="px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm"
        />
      </div>
    </div>
    <div class="flex gap-3 flex-col w-full md:w-auto md:flex-row">
    <app-button-small
      [buttonText]="!onEditMode ? 'Dodaj pozycję': 'Aktualizuj pozycję'"
      [isFullWidth]="true"
      (clickEvent)="!onEditMode ? onAddItem(): onSaveEditedItem()"
      class="w-full md:w-auto md:flex-nowrap"
    />
      <app-button-small
        [buttonText]="'Zapisz'"
        [isFullWidth]="true"
        (clickEvent)="onSaveItems()"
        class="w-full md:w-auto"
        />
    </div>
  </div>
  <div class="bg-white flex flex-1 flex-col xl:min-h-0 p-2 rounded-xl">
    <div
      class="border border-gray-200 rounded-xl shadow-sm flex flex-col xl:min-h-0 bg-white"
    >
      <div
        class="xl:overflow-y-auto xl:min-h-0 overflow-x-auto"
      >
        <table class="w-full text-left xl:min-h-0">
          <thead class="bg-gray-50 border-b border-gray-200 text-sm uppercase tracking-wider text-gray-500 xl:sticky xl:top-0 z-20">
          <tr>
            <td class="py-3 px-4 font-bold">Nazwa</td>
            <td class="py-3 px-4 font-bold text-left">Producent</td>
            <td class="py-3 px-4 font-bold text-right">j.m</td>
            <td class="py-3 px-4 font-bold text-right">Opakowanie</td>
            <td class="py-3 px-4 font-bold text-right">Cena</td>
            <td class="py-3 px-4 font-bold text-right">TPS</td>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 bg-white">
            @for (item of (products$ | async); track item.id){
          <tr>
            <td class="flex py-2 px-2 items-center">
              <button
                class="p-1.5 rounded-lg text-gray-400 hover:text-primary hover:bg-blue-50 transition-all duration-200"
                title="Edytuj produkt"
                (click)="onEditItem(item)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
              </button>

              <div class="ml-2">
                <p class="font-semibold text-gray-900">{{item.name}}</p>
                <p class="text-sm text-gray-400 mt-0.5">{{item.internal}}</p>
              </div>
            </td>
            <td class="py-2 px-3 text-left">
              <p class="font-semibold text-gray-900">{{item.producer}}</p>
            </td>
            <td class="py-2 px-3 text-right">
              <span class="font-semibold text-gray-800 px-2.5 py-1 rounded-md">{{item.unit | lowercase}}</span>
            </td>
            <td class="py-2 px-3 text-right">
              <span class="font-semibold text-gray-800 px-2.5 py-1 rounded-md">{{item.pack}}</span>
            </td>
            <td class="py-2 px-3 text-right text-gray-600 font-medium">
              {{ item.unitPrice | number: '1.2-2' }} zł
            </td>
            <td>
              <p class="font-semibold text-gray-800 text-right mr-2">{{ item.tps | date: 'dd.MM.yyyy' }}</p>
            </td>
          </tr>
            } @empty {
              <tr>
                <td
                  colspan="6"
                  class="py-10"
                >
                  <div class="flex flex-col items-center justify-center text-center">
                    <div class="mb-4 text-gray-200">
                      <svg class="w-20 h-20" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path>
                      </svg>
                    </div>

                    <h3 class="text-lg font-bold text-gray-700 uppercase tracking-wider">
                      Brak produktów w cenniku
                    </h3>

                    <p class="mt-2 text-gray-400 max-w-xs mx-auto">
                      Nie znaleziono żadnych produktów przypisanych do tego cennika w systemie.
                    </p>
                  </div>
                </td>
              </tr>
            }
          </tbody>
          <tfoot class="bg-gray-50 border-t border-gray-200 xl:sticky xl:bottom-0">
          <tr [formGroup]="form">
            <td class="p-2 border-r border-blue-100">
              <input
                type="text"
                placeholder="Np. Krakowska Sucha"
                [class.invalid]="form.get('name')?.touched && form.get('name')?.invalid"
                class="w-full px-3 py-2 bg-white border rounded border-gray-300  focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm placeholder:italic mb-3"
                formControlName="name"
              />
              <input
                type="text"
                placeholder="Np. SKU-123#"
                class="w-full px-3 py-2 bg-white border rounded border-gray-300  focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm placeholder:italic"
                [class.invalid]="form.get('internal')?.touched && form.get('internal')?.invalid"
                formControlName="internal"
              />
            </td>
            <td class="p-2 border-r border-blue-100">
              <input
                type="text"
                list="producersList"
                placeholder="Producent..."
                formControlName="producer"
                class="w-full px-3 py-2 bg-white border rounded border-gray-300  focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm placeholder:italic"
                [class.invalid]="form.get('producer')?.touched && form.get('producer')?.invalid"
              />
              <datalist id="producersList">
                @for (p of producers$ | async; track p) {
                  <option [value]="p"></option>
                }
              </datalist>
            </td>
            <td class="p-2 border-r border-blue-100">
              <select
                class="w-full px-2 py-2 bg-white border rounded border-gray-300  focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm"
                formControlName="unit"
                [class.invalid]="form.get('unit')?.touched && form.get('unit')?.invalid"
              >
                <option [ngValue]="null" disabled selected>Wybierz jednostkę...</option>
                @for(unit of availableUnits; track unit){
                  <option [value]="unit">{{unit | lowercase}}</option>
                }
              </select>
            </td>
            <td class="p-2 border-r border-blue-100">
              <input
                type="text"
                placeholder="Np. 5kg"
                class="w-full px-3 py-2 bg-white border rounded border-gray-300  focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm text-right"
                formControlName="pack"
              />
            </td>
            <td class="p-2 border-r border-blue-100">
              <input
                type="number"
                placeholder="0.00"
                step="0.01"
                class="w-full pl-6 pr-2 py-2 bg-white border rounded border-gray-300  focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm font-semibold text-right"
                formControlName="unitPrice"
                [class.invalid]="form.get('unitPrice')?.touched && form.get('unitPrice')?.invalid"
              />
            </td>
            <td class="p-2">
              <input
                type="date"
                class="w-full px-2 py-2 bg-white border rounded border-gray-300  focus:ring-2 focus:ring-primary/20 focus:border-primary outline-none text-sm"
                [class.invalid]="form.get('tps')?.touched && form.get('tps')?.invalid"
                formControlName="tps"
              />
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  @if(notificationState.show){
  <app-notification
    [message]="notificationState.message"
    [type]="notificationState.type"
    (closeEvent)="notificationState.show = false"/>
  }
</div>
