<div class="xl:hidden shrink-0 mb-4 flex items-center justify-between">
  <button (click)="isSidebarOpen = true" class="bg-primary text-white px-4 py-2 rounded-lg text-sm font-semibold flex items-center gap-2 shadow hover:bg-primary-dark transition">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    Wybierz klienta
  </button>
</div>

@if (isSidebarOpen) {
  <div (click)="isSidebarOpen = false" class="fixed inset-0 bg-black/50 z-40 xl:hidden"></div>
}

<div class="card w-[280px] xl:w-3xs gap-2 h-full flex flex-col  fixed xl:relative top-0 left-0 z-50 xl:z-auto transition-transform duration-300 bg-white xl:translate-x-0 shadow-2xl xl:shadow-sm"
     [class.-translate-x-full]="!isSidebarOpen"
     [class.translate-x-0]="isSidebarOpen">

  <div class="flex items-center justify-between mb-2 shrink-0">
    <div class="text-lg font-semibold text-gray-800">
      Klienci
    </div>
    <button (click)="isSidebarOpen = false" class="xl:hidden p-1 text-gray-400 hover:text-gray-800 hover:bg-gray-100 rounded-md">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    </button>
  </div>

  <div class="flex flex-col flex-1 overflow-y-auto w-full pr-1">
    @for (client of (_clients | async); track client.id) {
      <div
        (click)="selectClient(client)"
        class="px-6 py-4 text-base transition cursor-pointer border-l-4"
        [class.selected-client]="selectedClientId === client.id"
        [class.normal-client]="selectedClientId !== client.id"
      >
        {{ client.name }}
      </div>
    } @empty {
      <div class="p-4 text-center text-gray-500">
        Brak klientów na liście.
      </div>
    }
  </div>
  @if (userState._basePath | async; as basePath){
  <div class="flex shrink-0 w-full flex-wrap sm:flex-nowrap">
    <app-button-small [routerLink]="[basePath,'clients','new']" class="w-full sm:w-auto" [isFullWidth] = "true" [buttonText]="'Dodaj klienta'"></app-button-small>
  </div>
  }
</div>
