@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Main colors */
  --color-primary: #09A129;       /* Medium Jungle */
  --color-primary-dark: #036D19;  /* Dark green */
  --color-surface-light: #E0EDC5; /* Frosted Mint */

  /* Neutral colors */
  --color-bg: #F8F9FA;
  --color-text-main: #374151;
  --color-text-muted: #6B7280;
  --color-white: #FFFFFF;

  --radius-md: 8px;
  --transition-speed: 0.2s;

  --font-sans: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer components {
  .card {
    @apply bg-white p-5 rounded-xl shadow-sm border border-gray-100 flex flex-col items-start hover:shadow-md transition-shadow;
  }
  .listBut{
    @apply block text-white/80 hover:bg-primary-dark hover:text-white px-3 py-3 rounded-md text-base font-medium transition-colors;
  }
}
